.bienvenida {
    justify-items:center;
    align-items: center;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    border: 1px solid black;
    background-image: url(/imagenes/Servi.png);
    background-size: contain;
    background-position-x: center;
    background-origin:inherit;
    background-repeat: no-repeat;
    background-color: white;
    
}
.presentacion{
    margin: 30px;
    
}
.cierre {
    text-align: center;
    margin: 30px;
}
.contenedor-servicios {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    background-color: white;
}

body {
    background-image: url(/imagenes/fondo.png)
}

.contenedor-servicios img {
    width: 100px;
    height: 100px;
    background-color: white;
}

@media (max-width: 767px) {
    .contenedor-servicios {
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
    }
}

@media (max-width: 480px) {
    .contenedor-servicios {
        grid-template-columns: repeat(2, 0.1fr);
        background-color: white;
    }
}

.logo {
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 0px;
}

.serviHogar {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:"Montserrat", sans-serif;
}

.nav-bar {
    padding-bottom: 100px;
}

.navIndex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnIndex {
    border-radius: 10px;
    margin-inline: 30px;
    text-decoration: none;
    font-family:"Montserrat", sans-serif;
}

.btnInicio {
    text-decoration: none;
    color: black;
    font-family:"Montserrat", sans-serif;
}
.contenedorBtnInicio {
    width: 100%;
    display: flex;
    justify-content: end;
}

.tituloServicios {
    text-align: center;
    margin-top: 30px;
    font-family:"Montserrat", sans-serif;
}
.boton {
    background-color: #0683C2;
}
.btnModal {
    text-decoration: none;
    color: black;
    font-family:"Montserrat", sans-serif;
    font-size: small;
    width: 50%;
    font-weight: bolder;
}
.modal-header {
    background-color: #0683C2;
}
.modal-title {
    padding-left: 180px;
    font-weight: bolder;
}
.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-content {
    font-family:"Montserrat", sans-serif;
}

.gif-hover {
    cursor: pointer;
}

.modal-fade {
    font-family:"Montserrat", sans-serif;
}

.btnIngresar {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    background-color: #0683C2;
}

footer {
    width: 100%;
    height: 100%;
    background-color: #455B66;
    color: white;
    font-family:"Montserrat", sans-serif;
    padding: 20px;
}
.footerSuperior {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}


@media (max-width: 1500px) {
    .footerSuperior {
        grid-template-columns: repeat(2, 3fr);
    }
    .textoFooter {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 800px) {
    .footerSuperior {
        flex-direction: column;
    }
    .btnFArriba {
        text-align: end;
    }
    .textoFooter {
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media (max-width: 400px) {
    .btnFArriba {
        padding-left: 150px;
    }

}

.textoFooter {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ingresar {
    text-decoration: none;
    margin-left: auto 10px;
    margin-right: auto 10px;
}
.preguntas {
    text-decoration: none;
    margin-left: auto 10px;
    margin-right: auto 10px;
}
.ayuda{
    text-decoration: none;
    margin-left: auto 10px;
    margin-right: auto 10px;
}
.politicas {
    text-decoration: none;
    margin-left: auto 10px;
    margin-right: auto 10px;
}
.terminos{
    text-decoration: none;
    margin-left: auto 10px;
    margin-right: auto 10px;
}

.sectionWhat {
    margin: 0;
    padding: 0;
    text-align: right;
}

.item{
    height: 40px;
    background-color:  #455B66;
    border-radius: 40%;
    text-align: end;
    margin-left: 200px;

}

.itemW{
    height: 90px;
    padding: 1.5rem;
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    opacity: 80%;
}


.sectionIcon {
    list-style: none;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
.item1 {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    padding-bottom: 0px;
    padding-top: 0px;
}
.icono{
    height: 30px;
    justify-content: center;
}
.sectionLogo {
    list-style: none;
    text-align: center;
}
.logoFooter {
    width: 80px;
    height: 80px;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
.copyright {
    font-size: small;
    justify-content: center;
    text-align: center;    
}

:root {
    --color-primary: #0683C2;
    --color-secondary: #96B8CD;
    --color-tertiary: #AED5D6;
    --color-quaternary: #598F92;
    --color-quinary: #647F86;
    --color-senary: #455B66;
    --color-background: #D3D9D9;
  }
  
  /* Estilos para la barra de desplazamiento */
  body::-webkit-scrollbar {
      width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  body::-webkit-scrollbar-track {
      background: var(--color-quinary); /* Color de fondo del track */

  }
  
  body::-webkit-scrollbar-thumb {
      background: var(--color-primary); /* Color del thumb */
      border-radius: 10px; /* Bordes redondeados */
      border: 3px solid var(--color-quinary); /* Espacio entre el thumb y el track */
  }
  
  body::-webkit-scrollbar-thumb:hover {
      background: var(--color-secondary); /* Color del thumb al pasar el mouse */
  }
  
  body {
      scrollbar-width: thin; /* Firefox */
      scrollbar-color: var(--color-primary) var(--color-quinary); /* Firefox */
  }
  
  /* Animación de fondo */
  @keyframes oscillateBG {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
  }