@font-face {
    font-family:'Amsterdam';
    src: url('/fuentes/Amsterdam.ttf') format('truetype');
    /* Agrega más formatos de fuente según sea necesario */
    font-weight: normal;
    font-style: normal;
  }
nav{
    padding: 0px;
    margin: 0px;

}
.logo {
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 0px;
}
.serviHogar {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    text-decoration: none;
    font-family: 'Amsterdam';
    font-size: 25px;
    color: #ffff;

}
.navbar{
    background-color: #0683C2;
    opacity: 95%;
    margin: 0px;
}
.navInicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0683C2;
}
.headerDesplegable {
    background-color: #455B66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.headerBody{
    background-color: #0683C2 ;
    
}

.desplegable{
    opacity: 97%;
    font-size: 20px;
}
.btnBuscar {
    background-color: #0683C2;
    color: black;
    
}