:root {
    --color-primary: #0683C2;
    --color-secondary: #96B8CD;
    --color-tertiary: #AED5D6;
    --color-quaternary: #598F92;
    --color-quinary: #647F86;
    --color-senary: #455B66;
    --color-background: #D3D9D9;
    --color-septenary: #2cffce;
  }

.titulo {
    text-align: center;
    margin-top: 150px; /* Espacio entre el navbar y el título */
    margin-bottom: 10px; /* Espacio bajo el título */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedor-tarjetas {
    width: 90%;
    margin-top: 30px; /* Ajusta el margen superior según tu diseño */
    overflow-x: auto; /* Hace que sea scrollable horizontalmente si es necesario */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta las columnas automáticamente según el contenido */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
    padding-left: 50px;
}

@media (max-width: 1000px){
    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }
}

@media (max-width: 700px){
    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }
}

.contenedor-tarjetas {
    width: 90%;
    margin-top: 30px; /* Ajusta el margen superior según tu diseño */
    overflow-x: auto; /* Hace que sea scrollable horizontalmente si es necesario */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta las columnas automáticamente según el contenido */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
}

.card {
    background: var(--color-background);
    border: 2px solid var(--color-primary);
    box-shadow: 0px 4px 5px var(--color-septenary);
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.2s;
    width: 100%;
    /* max-height: 400px; */
    overflow: hidden; /* Evita que el contenido desborde */
}

.card-img-top {
    width: 100%;
    height: 100px; /* Altura de la imagen */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-bottom: 1px solid #0683C2; /* Borde inferior para separar la imagen */
}

.cuerpo-tarjeta {
    padding: 10px;
}

.btn {
    color: #D3D9D9;
    /* margin-top: 10px; */
    background-color: #0683C2;
    width: 100%; /* Ocupa todo el ancho disponible dentro de la tarjeta */
    border-radius: var(--color-septenary);
    border-radius: 10px;
}


