:root {
    --color-primary: #0683C2;
    --color-secondary: #96B8CD;
    --color-tertiary: #AED5D6;
    --color-quaternary: #598F92;
    --color-quinary: #647F86;
    --color-senary: #455B66;
    --color-background: #D3D9D9;
    --color-septenary: #2cffce;
  }

.titulo {
    text-align: center;
    margin-top: 150px; /* Espacio entre el navbar y el título */
    margin-bottom: 10px; /* Espacio bajo el título */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 30px;
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    background: var(--color-background);
    border: 2px solid var(--color-primary);
    box-shadow: 0px 4px 5px var(--color-septenary);
    border-radius: 10px;
    transition: transform 0.2s;
    margin: 10px;
    width: 500px; /* Ancho fijo para todas las tarjetas */
    max-height: 500px; /* Altura máxima */
    display: flex;
    flex-direction: column; /* Asegura que el contenido se distribuya verticalmente */
    overflow: hidden; /* Evita que el contenido desborde */
}

.card-img-top {
    width: 100%;
    height: 150px; /* Altura de la imagen */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-bottom: 1px solid #0683C2; /* Borde inferior para separar la imagen */
}

.cuerpo-tarjeta {
    padding: 10px;
    flex: 1; /* Permite que el contenido se expanda para llenar el espacio disponible */
    overflow-y: auto; /* Agrega un scroll vertical si el contenido sobrepasa la altura máxima */
}

.servicios-columnas {
    columns: 2; /* Divide el contenido en 2 columnas */
    -webkit-columns: 2;
    padding: 0;
}

.servicios-columnas li {
    break-inside: avoid; /* Evita que los elementos se dividan entre columnas */
    padding: 5px 0;
}



.btn {
    color: #D3D9D9;
    /* margin-top: 10px; */
    background-color: #0683C2;
    width: 100%; /* Ocupa todo el ancho disponible dentro de la tarjeta */
    border-radius: var(--color-septenary);
    border-radius: 10px;
}


.modal-body{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    /* color: inherit; */
    /* padding: 14px 20px; */
    /* position: relative; */
    /* line-height: 1.2em; */
    font-size: 16px;
    font-weight: 300;
    border: solid 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    background: transparent;
    /* outline: none;
    user-select: none;
    margin-bottom: 20px; */
    color: #000000;
    font-weight: 700;
    height: auto;
    border-radius: 10px;
    appearance: none;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    
}

/* Placeholder styling */
textarea::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="file"]::placeholder,
input[type="password"]::placeholder,
select::placeholder {
  font-weight: 700;  /* Makes the placeholder text bold */
  color: #10090969;  /* Placeholder color */
  opacity: 1;  /* Ensures color is fully applied */
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #2cffce;
}

