
<footer class="footer">
  <div class="footerSuperior">   
      <p class="textoFooter">
        <a class="text-white preguntas">Preguntas frecuentes</a>
      </p>
      <p class="textoFooter">
        <a class="text-white ayuda" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Ayuda</a>
    </p>

<div class="offcanvas offcanvas-bottom btnAyuda" style="height:400px" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Envianos tu consulta</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Escribe tu consulta</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button>Enviar</button>
  </div>
</div>


      <p class="textoFooter">
        <a class="text-white politicas">Politicas de privacidad y servicio</a>
      </p>
      <p class="textoFooter">
        <a class="text-white terminos">Términos y condiciones</a>
      </p>
      <a class="btnFArriba" href="#top"><img src="imagenes/iconos/arriba.png" alt="Subir" data-gif="imagenes/iconos/arriba.gif" class= "gif-hover item justify-content-md-end" ></a>
     
    
    </div> 
      <section class="sectionWhat"> 
    <a href="https:/web.whatsapp.com"><img class= "itemW" src="imagenes/iconos/whatsapp.png" alt="whatsapp"></a>
</section>
<hr>
  <section class="sectionIcon">
    <li class="item1"><a href="https://www.facebook.com"><img class="icono" src="imagenes/iconos/facebook-2.png" alt="face"></a></li>
    <li class="item1"><a href="https://www.instagram.com"><img class="icono" src="imagenes/iconos/instagram.png" alt="insta"></a></li>
    <li class="item1"><a href="https://www.youtube.com"><img class="icono" src="imagenes/iconos/youtube.png" alt="youtube"></a></li>
    <li class="item1"><a href="https://www.gmail.com"><img class="icono" src="imagenes/iconos/gmail.png" alt="mail"></a></li>
  </section>
  <section class="sectionLogo">
  <img class="logoFooter" src="imagenes/logo-fondo-transparente.png" alt="">
  </section>
  <h6 class="copyright"> © 2024 Copyright</h6>

</footer>