
<footer class="footer">
  <div class="footerSuperior">   
      <p class="textoFooter">
        <a class="text-white preguntas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPreguntas" aria-controls="offcanvasPreguntas">Preguntas frecuentes</a>
      </p>

      <div class="offcanvas offcanvas-bottom btnPreguntasF" style="height:100%" tabindex="-1" id="offcanvasPreguntas" aria-labelledby="offcanvasPreguntasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasPreguntasLabel"><b>Preguntas frecuentes</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae harum aliquam commodi blanditiis perferendis nihil non adipisci natus ea sapiente, iste nemo, corrupti cumque odit a fugiat magni. Nesciunt, et!
        </div>
      </div>

      <p class="textoFooter">
        <a class="text-white ayuda" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Ayuda</a>
    </p>

<div class="offcanvas offcanvas-bottom btnAyuda" style="height:400px" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel"><b>Envianos tu consulta</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Escribe tu consulta</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-outline-info btnEnviar" type="submit"><b>Enviar</b></button>
  </div>
</div>


      <p class="textoFooter">
        <a class="text-white politicas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPoliticas" aria-controls="offcanvasPoliticas">Politicas de privacidad y servicio</a>
      </p>

      <div class="offcanvas offcanvas-bottom btnPoliticas" style="height:100%" tabindex="-1" id="offcanvasPoliticas" aria-labelledby="offcanvasPoliticasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasPoliticasLabel"><b>Politicas de privacidad y servicio</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae harum aliquam commodi blanditiis perferendis nihil non adipisci natus ea sapiente, iste nemo, corrupti cumque odit a fugiat magni. Nesciunt, et!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa fugit, corrupti a alias voluptatibus adipisci eligendi. Quo, accusantium, incidunt minus minima sit fugit eos nobis ipsa quis quidem, totam optio.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio delectus harum alias impedit sequi facere laudantium dolorem ipsa deleniti perferendis aut sint, earum, itaque exercitationem nemo vel tenetur, repellendus doloremque.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse cum sunt et accusamus sequi laboriosam rerum. Modi veniam, voluptatibus itaque libero, numquam reiciendis officia incidunt deleniti voluptatem dignissimos nisi fugit!
        </div>
      </div>



      <p class="textoFooter">
        <a class="text-white terminos" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTerminos" aria-controls="offcanvasTerminos">Términos y condiciones</a>
      </p>


      <div class="offcanvas offcanvas-bottom btnTerminos" style="height:100%" tabindex="-1" id="offcanvasTerminos" aria-labelledby="offcanvasTerminosLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasTerminosLabel"><b>Politicas de privacidad y servicio</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae harum aliquam commodi blanditiis perferendis nihil non adipisci natus ea sapiente, iste nemo, corrupti cumque odit a fugiat magni. Nesciunt, et!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa fugit, corrupti a alias voluptatibus adipisci eligendi. Quo, accusantium, incidunt minus minima sit fugit eos nobis ipsa quis quidem, totam optio.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio delectus harum alias impedit sequi facere laudantium dolorem ipsa deleniti perferendis aut sint, earum, itaque exercitationem nemo vel tenetur, repellendus doloremque.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse cum sunt et accusamus sequi laboriosam rerum. Modi veniam, voluptatibus itaque libero, numquam reiciendis officia incidunt deleniti voluptatem dignissimos nisi fugit!
        </div>
      </div>


  <a class="btnFArriba" href="#top"><img src="/imagenes/iconos/arriba.png" alt="Subir" data-gif="/imagenes/iconos/arriba.gif" class= "gif-hover item justify-content-md-end" ></a></button>
     
    
    </div> 
      <section class="sectionWhat"> 
    <a href="https:/web.whatsapp.com"><img class= "itemW" src="/imagenes/iconos/whatsapp.png" alt="whatsapp"></a>
</section>
<hr>
  <section class="sectionIcon">
    <li class="item1"><a href="https://www.facebook.com"><img class="icono" src="/imagenes/iconos/facebook-2.png" alt="face"></a></li>
    <li class="item1"><a href="https://www.instagram.com"><img class="icono" src="/imagenes/iconos/instagram.png" alt="insta"></a></li>
    <li class="item1"><a href="https://www.youtube.com"><img class="icono" src="/imagenes/iconos/youtube.png" alt="youtube"></a></li>
    <li class="item1"><a href="https://www.gmail.com"><img class="icono" src="/imagenes/iconos/gmail.png" alt="mail"></a></li>
  </section>
  <section class="sectionLogo">
  <img class="logoFooter" src="/imagenes/logo-fondo-transparente.png" alt="">
  </section>
  <h6 class="copyright"> © 2024 Copyright</h6>

</footer>