<nav class="navbar fixed-top" style="background-color: #455B66">
    <div class="container-fluid navInicio">
      <div>
        <img class="logo" src="imagenes/logo-fondo-transparente.png" alt="">
        <a class="navbar-brand serviHogar" style="color: #ffffff" href="#">ServiHogar</a>
      </div>
      <button class="navbar-toggler" style="color: #ffffff" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-end desplegable" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header headerDesplegable">
          <h5 class="offcanvas-title tituloDesplegable" id="offcanvasNavbarLabel" th:text="'Hola, ' + ${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido}"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body headerBody">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 listaBodyNV">
            <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Órdenes nuevas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">Órdenes abiertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">Ver comentarios y calificaciones</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Cambiar a rol proveedor</a>
            </li>


            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Editar perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Desactivar cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/logout">Cerrar sesión</a>
          </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-info btnBuscar" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </nav>