<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <!-- HAY QUE SEGURIZAR ESTA PAGINA CON THYMELEAF, YA ESTA CARGADO ARRIBA,
 PERMITE PONER CONDICIONALES DE QUIEN VE CUAL COSA-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/estilos-perfil-usuario.css" />


    <link
      rel="icon"
      type="image/x-icon"
      href="imagenes/logo-fondo-transparente.png"
    />
    <title>Perfil</title>
  </head>

  <body>
    <header>
      <nav th:replace="~{fragments/navbar :: nav}"></nav>
    </header>
    
    <!-- Profile 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container perfil">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Mi perfil</h2>
          <p class="text-secondary text-center lead fs-4 mb-5">Desde aquí puedes ver o cambiar tu información personal</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-4 gy-lg-0">
        <div class="col-12 col-lg-4 col-xl-3">
          <div class="row gy-4">
            <div class="col-12">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-header text-bg-primary" th:text="${'Bienvenido' + ' ' + {session.usuariosession.nombre} + ' ' + {session.usuariosession.apellido}}"></div>
                <div class="card-body">
                  <div class="text-center mb-3">
                    <img th:src="@{/imagen/perfil/{id}(id=${session.usuariosession.id})}" class="img-fluid rounded" th:alt="${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido}">
                  </div>
                  <h5 class="text-center mb-1" th:text="${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido}"></h5>
                  <p class="text-center text-secondary mb-4" th:text="${session.usuariosession.rol}"></p>
                  </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-header text-bg-primary">Social Accounts</div>
                <div class="card-body">
                  <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
                    <i class="bi bi-youtube"></i>
                  </a>
                  <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
                    <i class="bi bi-twitter-x"></i>
                  </a>
                  <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
                    <i class="bi bi-facebook"></i>
                  </a>
                  <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-header text-bg-primary">Sobre ti</div>
                <div class="card-body">
                  <ul class="list-group list-group-flush mb-0">
                    <li class="list-group-item">
                      <h6 class="mb-1">
                        <span class="bii bi-mortarboard-fill me-2"></span>
                        Education
                      </h6>
                      <span>M.S Computer Science</span>
                    </li>
                    <li class="list-group-item">
                      <h6 class="mb-1">
                        <span class="bii bi-geo-alt-fill me-2"></span>
                        Location
                      </h6>
                      <span>Mountain View, California</span>
                    </li>
                    <li class="list-group-item">
                      <h6 class="mb-1">
                        <span class="bii bi-building-fill-gear me-2"></span>
                        Company
                      </h6>
                      <span>GitHub Inc</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-header text-bg-primary">Skills</div>
                <div class="card-body">
                  <span class="badge text-bg-primary">HTML</span>
                  <span class="badge text-bg-primary">SCSS</span>
                  <span class="badge text-bg-primary">Javascript</span>
                  <span class="badge text-bg-primary">React</span>
                  <span class="badge text-bg-primary">Vue</span>
                  <span class="badge text-bg-primary">Angular</span>
                  <span class="badge text-bg-primary">UI</span>
                  <span class="badge text-bg-primary">UX</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 col-xl-9">
          <div class="card widget-card border-light shadow-sm">
            <div class="card-body p-4">
              <ul class="nav nav-tabs" id="profileTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Vista General</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Perfil</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false">Password</button>
                </li>
              </ul>
              <div class="tab-content pt-4" id="profileTabContent">
                <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                  <h5 class="mb-3">About</h5>
                  <p class="lead mb-3">Ethan Leo is a seasoned and results-driven Project Manager who brings experience and expertise to project management. With a proven track record of successfully delivering complex projects on time and within budget, Ethan Leo is the go-to professional for organizations seeking efficient and effective project leadership.</p>
                  <h5 class="mb-3">Profile</h5>
                  <div class="row g-0">
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">First Name</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">Ethan</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Last Name</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">Leo</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Education</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">M.S Computer Science</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Address</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">Mountain View, California</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Country</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">United States</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Job</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">Project Manager</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Company</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">GitHub Inc</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Phone</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">+1 (248) 679-8745</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Email</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">leo@example.com</div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                  <!-- Formulario con seguridad para que solo lo vean los clientes -->
                  <form sec:authorize="hasRole('CLIENTE')" th:action="@{/modificarPerfil/cliente/{id}(id=${session.usuariosession.id})}" method="POST" class="row gy-3 gy-xxl-4">
                    <div class="col-12">
                      <div class="row gy-2">
                        
                        <div class="col-12">
                          <a href="#!" class="d-inline-block bg-primary link-light lh-1 p-2 rounded">
                            <i class="bi bi-upload"></i>
                          </a>
                          <a href="#!" class="d-inline-block bg-danger link-light lh-1 p-2 rounded">
                            <i class="bi bi-trash"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="id" th:value="${session.usuariosession.id}">

                    <div class="col-12 col-md-6">
                      <label for="inputFirstName" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="inputFirstName" name="nombre" th:value="${session.usuariosession.nombre}">
                    </div>
                    <div class="col-12 col-md-6">
                      <label for="inputLastName" class="form-label">Apellido</label>
                      <input type="text" class="form-control" id="inputLastName" name="apellido" th:value="${session.usuariosession.apellido}">
                    </div>
                    <div class="col-12 col-md-6">
                      <label for="inputEducation" class="form-label">DNI</label>
                      <input type="text" class="form-control" id="inputEducation" name="dni" th:value="${session.usuariosession.dni}">
                    </div>
                    <div class="col-12 col-md-6">
                      <label for="inputSkills" class="form-label">Localidad</label>
                      <input type="text" class="form-control" id="inputSkills" name="localidad" th:value="${session.usuariosession.localidad}">
                    </div>
                    <div class="col-12 col-md-6">
                      <label for="inputCountry" class="form-label">Barrio</label>
                      <select class="form-select" id="inputCountry" name="barrio">
                        <option value="Barrio 1" th:selected="${session.usuariosession.getBarrio() == 'Barrio 1'}">Barrio 1</option>
                        <option value="Barrio 2" th:selected="${session.usuariosession.getBarrio() == 'Barrio 2'}">Barrio 2</option>
                        <option value="Barrio 3" th:selected="${session.usuariosession.getBarrio() == 'Barrio 3'}">Barrio 3</option>
                      </select>
                    </div>
                    <div class="col-12 col-md-6">
                      <label for="inputYouTube" class="form-label">Direccion</label>
                      <input type="text" class="form-control" id="inputYouTube" name="direccion" th:value="${session.usuariosession.direccion}">
                    </div>
                    <div class="col-12 col-md-6">
                      <label for="inputX" class="form-label">Email</label>
                      <input type="text" class="form-control" id="inputX" name="email" th:value="${session.usuariosession.email}">
                    </div>
                    <div class="col-12 col-md-6">
                      <label for="inputFacebook" class="form-label">Telefono</label>
                      <input type="text" class="form-control" id="inputFacebook" name="telefono" th:value="${session.usuariosession.telefono}">
                    </div>

                    <div class="col-12 col-md-6">
                      <label for="inputFacebook" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputFacebook" name="password" required placeholder="Ingrese su password">
                    </div><div class="col-12 col-md-6">
                      <label for="inputFacebook" class="form-label">Repetir password</label>
                      <input type="password" class="form-control" id="inputFacebook" name="password2" required placeholder="Confirme su password">
                    </div>

                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                  </form>
                  <!-- **************************************************************************************************************************************************** -->

<!-- Formulario con seguridad para que solo lo vean los proveedores -->
<form sec:authorize="hasRole('PROVEEDOR')" th:action="@{/modificarPerfil/proveedor/{id}(id=${session.usuariosession.id})}" method="POST" class="row gy-3 gy-xxl-4">
  <div class="col-12">
    <div class="row gy-2">
      
      <div class="col-12">
        <a href="#!" class="d-inline-block bg-primary link-light lh-1 p-2 rounded">
          <i class="bi bi-upload"></i>
        </a>
        <a href="#!" class="d-inline-block bg-danger link-light lh-1 p-2 rounded">
          <i class="bi bi-trash"></i>
        </a>
      </div>
    </div>
  </div>
  <input type="hidden" name="id" th:value="${session.usuariosession.id}">

  <div class="col-12 col-md-6">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${session.usuariosession.nombre}">
  </div>
  <div class="col-12 col-md-6">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellido" name="apellido" th:value="${session.usuariosession.apellido}">
  </div>
  <div class="col-12 col-md-6">
    <label for="dni" class="form-label">DNI</label>
    <input type="text" class="form-control" id="dni" name="dni" th:value="${session.usuariosession.dni}">
  </div>
  
  <div class="col-12 col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" th:value="${session.usuariosession.email}">
  </div>
  <div class="col-12 col-md-6">
    <label for="telefono" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="telefono" name="telefono" th:value="${session.usuariosession.telefono}">
  </div>
  <div class="col-12 col-md-6">
    <label for="localidad" class="form-label">Localidad</label>
    <input type="text" class="form-control" id="localidad" name="localidad" th:value="${session.usuariosession.localidad}">
  </div>
  <div class="col-12 col-md-6">
    <label for="direccion" class="form-label">Direccion</label>
    <input type="text" class="form-control" id="direccion" name="direccion" th:value="${session.usuariosession.direccion}">
  </div>


  
  <div class="col-12 col-md-6">
    <label for="servicios" class="form-label">Servicios</label>
    <div class="scroll-box" style="max-height: 100px; overflow-y: auto;">
        <div class="row">
            <div th:each="servicio : ${servicios}" class="col-md-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="servicio" name="serviciosIds" th:value="${servicio.id}"/>
                    <label th:for="servicio" th:text="${servicio.nombre}" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </div>
</div>



  <div class="col-12 col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required placeholder="Ingrese su password">
  </div><div class="col-12 col-md-6">
    <label for="password2" class="form-label">Repetir password</label>
    <input type="password" class="form-control" id="password2" name="password2" required placeholder="Confirme su password">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </div>
</form>


                  <!-- **************************************************************************************************************************************************** -->



                <div class="tab-pane fade" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab" tabindex="0">
                  <form action="#!">
                    <fieldset class="row gy-3 gy-md-0">
                      <legend class="col-form-label col-12 col-md-3 col-xl-2">Email Alerts</legend>
                      <div class="col-12 col-md-9 col-xl-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="emailChange">
                          <label class="form-check-label" for="emailChange">
                            Email Changed
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="passwordChange">
                          <label class="form-check-label" for="passwordChange">
                            Password Changed
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="weeklyNewsletter">
                          <label class="form-check-label" for="weeklyNewsletter">
                            Weekly Newsletter
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="productPromotions">
                          <label class="form-check-label" for="productPromotions">
                            Product Promotions
                          </label>
                        </div>
                      </div>
                    </fieldset>
                    <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
                      </div>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>





    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/rough-notation@0.5.1/lib/rough-notation.iife.js"></script>
    <script src="javascript/rough-inicio.js"></script>
    <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>
  
</html>
