<section th:fragment="servicios">
  <div class="container-fluid">
    <a class="buscador">QUÉ SERVICIO NECESITAS PARA TU HOGAR?</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">BUSCAR</button>
    </form>
  </div>
    <h3 href="titulo"> Directorio de prestadores</h3>
    <ul class="list-group list-group-horizontal">
        <li class="list-group m-2">Construcción y arquitectura</li>
        <li class="list-group m-2">Técnico de aire</li>
        <li class="list-group m-2">Paisajismo y jardinería</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group m-2">Pintor</li>
        <li class="list-group m-2">Decorador</li>
        <li class="list-group m-2">Carpintero</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group m-2">Electricista</li>
        <li class="list-group m-2">Plomería</li>
        <li class="list-group m-2">Técnico en PC</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group m-2">Albañil</li>
        <li class="list-group m-2">Herrero</li>
        <li class="list-group m-2">Técnico de electrodomésticos</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group m-2">Pequeños arreglos</li>
        <li class="list-group m-2">Otros</li>
      </ul>
</section>
